<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Client</th>
      <th>Phone</th>
      <th>Place</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.starting %></td>
        <td><%= booking.ending %></td>
        <td><%= booking.client %></td>
        <td><%= booking.phone %></td>
        <td><%= booking.place %></td>
       
      
        <td><%= link_to 'Edit', edit_car_booking_path(@car, booking) %></td>
        <td><%= link_to 'Destroy', [@car, booking], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


