<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @booking.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.to %>
</p>

<p>
  <strong>Client:</strong>
  <%= @booking.client %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Place:</strong>
  <%= @booking.place %>
</p>

<p>
  <strong>Car:</strong>
  <%= @booking.car %>
</p>

