<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>CarRental</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
      <a class="navbar-brand"> <%= link_to "Car Rental", root_path, id: "logo" %></a>
   
    <ul class="nav navbar-nav navbar-right">
   
      <li> <%= link_to "Signout", destroy_user_session_path, method: :delete, id: "signout"  if user_signed_in? %></li>
 
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12"> Empty row</div>
  </div>

<div class="row">
<div class="col-md-4">

<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	</div>
</div>  

<div class="row">
<div class="col-md-12">
<%= yield %>

</div>

</div>
</div>
</body>
</html>
